@import url('https://fonts.googleapis.com/css?family=Bitter|Montserrat|Oswald');
.wrapper{
	width:69%;
	min-height:100%;
	height:100%;
	margin:0 auto;
}
.header{
	font-family: 'Oswald', sans-serif;
	height:25%;
	background:#424242;
	padding:1%;
	text-align:center;
}
.navigation{
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	background:#282626;
}
.content{
	min-height:45%;
	background:#efefef;
	width:100%;
	float:left;
}
.home-content{
	min-height:100%;
	background:#1e1d1d;
	width:100%;
	float:left;
}
.footer{
	clear:both;
	background-color:#121212;
	text-align:center;
	padding:10px;
}
.navigation a{
	background-color: #021d7c;
	color: white;
	margin-bottom: 4px;
	border-radius: 1em;
	text-decoration: none;
	display: inline-block;
	padding: .75%;
}
a{
	color:lime;
}
img{
display:block;
margin: 0 auto;
}
body{
	font-family: 'Bitter', sans-serif;
	background-color:#050505;
	color:white;
}
