body {
  background: black;
  color: limegreen;
}

div,p,h1,h2,h3,h4,h5,h6{
  color: lime;
}

a:link {
  color: lime;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(122, 243, 152);
}

/* selected link */
a:active {
  color: rgb(22, 153, 33);
}